doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/game.css")
        title Game room
    body 
        div.form
            div.structure-container
                table
                    thead 
                        tr
                            th(colspan="2") Estructura
                    tr
                        td Jugador
                        td Apuesta

            div.players-container
                label 
                    strong Jugadores: 
                table
                    tr.tr-list
                    tr.tr-list
                    tr.tr-list
                    tr.tr-list

            div.winner.container
                .winner-label Ganador: 
                
            div.button-container
                a.start-button Iniciar Juego
                a.new-game Nuevo Juego
        
        script(src="./js/game.js")
