doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../static/css/game.css")
        title Game room
    body 
        div.form
            div.players-container 
                h6.name-label
                h6.name-label
                h6.name-label
                h6.name-label
                h6.name-label
                h6.name-label
                h6.name-label
                h6.name-label
                h6.name-label
                h6.name-label
                h6.name-label
                h6.name-label

            div.winner.container
                .winner-label

            div.button-container
                a.start-button Start Game
            
            
        
        script(src="../static/js/game.js")
