body{
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    background-color: rgb(32, 27, 27);
    font-family:Arial, Helvetica, sans-serif;
}

.form{
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;

    .countdown{
         background-color: rgb(104, 104, 104);
         border-radius: 15%;

        label{
            color: aliceblue;
            font-size: 2em;
        }
    } 
    
    .players-container{
        background-color: rgb(82, 82, 82);
        width: 19em;
        height: 5em;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-content: center;
        color: aliceblue;
        margin-bottom: 25px;

        .name-label{
            font-size: 1.2rem;
            
        }
    }

    .winner-container{
        background-color: rgb(167, 165, 165);
        width: 12em;
        height: 2em;
    }

    .button-container{
        
        .start-button{
            padding: 2rem 4rem 2rem 4rem;
            position: relative;
            margin-top: 3em;
            background-color: rgb(151, 132, 238);
            border-radius: 5%;
            transition: all 500ms ease-out;
            color: black;
            font-size: 2em;
            text-decoration: none;
        }

        .start-button:hover{
            background-color: azure;
            cursor: pointer;
        }
    }
}
