body {
  background-color: rgb(33, 33, 33);
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: azure;
}

.container {
  height: 100vh;
  display: grid;
  align-content: center;
  justify-content: center;

  .principal-div {
    display: grid;
    align-content: center;
    width: 400px;

    form {
      .gamers-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .div-gamers {
          padding-right: 5px;
        }
      }

      div label {
        color: black;
      }

      .form-label {
        color: aliceblue;
      }
    }

    h1 {
      color: aliceblue;
    }

    .mb-3 {
      display: flex;
      align-items: center;
      justify-content: left;

      #players-btn {
        background-color: rgb(217, 167, 233);
        border: rgb(217, 167, 233) 1px inset;
      }

      button {
        background-color: rgb(217, 167, 233);
        border: rgb(222, 146, 247) 1px inset;
        color: rgb(36, 35, 35);
      }

      button:hover,
      #players-btn:hover {
        background-color: rgb(255, 255, 255);
        color: black;
      }

      #submit-button {
        margin-left: 20px;
      }
    }
  }
}
